body{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%vh;
    height: 50vw;
    font-size: 40px;
}
